body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  margin: 3rem;
}
@media only screen and (max-width: 568px) {
  .header {
    display: none;
  }
}
@media only screen and (min-width: 569px) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .header__name {
    font-family: Inter;
    font-weight: 700;
    font-size: 30px;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  width: 35vw;
  justify-content: space-around;
  align-items: center;
}
.nav__link {
  border: none;
  background-color: white;
}
.nav__link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.nav--contact {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 6px;
  width: 70px;
  height: 33px;
}
.nav--contact:hover {
  background-color: lightgrey;
  cursor: pointer;
}

@media only screen and (max-width: 568px) {
  .landing {
    height: 300px;
    background-image: url(./assets/img/Imperial_background.jpg);
    background-color: rgba(255, 255, 255, 0.65);
    background-blend-mode: lighten;
    background-size: 1920px 800px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
  .landing__info--greeting {
    font-family: Inter;
    font-weight: 500;
    font-size: 21px;
    margin: 2.5rem 1.5rem 1.5rem 1.5rem;
  }
  .landing__info--description {
    font-family: Inter;
    font-weight: 625;
    font-size: 40px;
    margin: 1.5rem 1.5rem;
  }
}
@media only screen and (min-width: 569px) {
  .landing {
    height: 400px;
    background-image: url(./assets/img/Imperial_background.jpg);
    background-color: rgba(255, 255, 255, 0.65);
    background-blend-mode: lighten;
    background-size: 1920px 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .landing__info {
    width: 55vw;
  }
  .landing__info--greeting {
    font-family: Inter;
    font-weight: 500;
    font-size: 21px;
    margin: 2.5rem 3rem 1.5rem 3rem;
  }
  .landing__info--description {
    font-family: Inter;
    font-weight: 625;
    font-size: 40px;
    margin: 1.5rem 3rem;
  }
}

.about-me {
  margin: 0px 100px;
}
@media only screen and (max-width: 568px) {
  .about-me {
    margin: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-me__img {
    width: 70vw;
  }
}
@media only screen and (min-width: 569px) {
  .about-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .about-me__img {
    width: 250px;
  }
}
.about-me__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 60px;
  margin-right: 0px;
}
@media only screen and (max-width: 568px) {
  .about-me__text {
    margin: 20px;
    align-items: center;
  }
}
.about-me__text--title {
  font-family: Inter;
  font-weight: 500;
  font-size: 35px;
  margin: 20px;
}
.about-me__text--description {
  text-align: left;
  margin: 20px;
  font-family: Inter;
  font-weight: 400;
  font-size: 23px;
}
@media only screen and (max-width: 568px) {
  .about-me__text--description {
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
  }
}

.technical {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  justify-content: center;
}
.technical__title {
  display: flex;
  justify-content: center;
  font-family: Inter;
  font-weight: 600;
  font-size: 26px;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
  margin: 0 auto;
}
.skills__item {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 75px;
  margin: 15px;
}
.skills__icon {
  width: 65px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.project-list {
  display: flex;
}
@media only screen and (min-width: 569px) {
  .project-list {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 568px) {
  .project-list {
    flex-direction: column;
  }
}
.project-list__item {
  width: 400px;
  height: 500px;
  margin: 40px;
  border-radius: 10px;
  background-color: rgba(86, 203, 249, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 568px) {
  .project-list__item {
    width: 350px;
  }
}
.project-list__item--title {
  margin: 30px;
  margin-bottom: 10px;
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
}
.project-list__item--text {
  margin: 30px;
  margin-top: 10px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
}
.project-list__item--img {
  width: 320px;
  border-radius: 10px;
}

.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resume__block {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 30px;
}
@media only screen and (max-width: 568px) {
  .resume__block {
    width: 350px;
  }
}
.resume__block--title {
  font-family: Inter;
  font-weight: 500;
  font-size: 23px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #45505b;
}
.resume__title {
  margin: 30px;
  margin-bottom: 10px;
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #0563bb;
  position: relative;
}
.item__title {
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #0563bb;
  margin-bottom: 10px;
}
.item__year {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  padding: 5px 15px;
  margin-bottom: 10px;
}

.item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #0563bb;
}

.item:last-child {
  padding-bottom: 0;
}

.item p {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
}

.item ul {
  padding-left: 20px;
}

.item ul li {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 10px;
}

.footer {
  position: static;
  bottom: 0;
  left: 0;
  margin: 0;
  background-color: black;
  height: 70px;
}
@media only screen and (max-width: 568px) {
  .footer {
    height: 150px;
  }
}

.fcontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0px;
  height: 70px;
}
@media only screen and (max-width: 568px) {
  .fcontainer {
    height: 150px;
    justify-content: center;
  }
}
.fcontainer__button {
  margin: 20px;
  border: 0px;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  background-size: 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fcontainer__button--cv {
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
}
.fcontainer__button--img {
  width: 30px;
}
